[submodule "dep"]
	path = dep
	url = https://github.com/legendma/sojourn-dep.git
[submodule "doc"]
	path = doc
	url = https://github.com/legendma/sojourn-doc.git
[submodule "assets"]
	path = assets
	url = https://github.com/legendma/sojourn-assets.git
